
/*==================================HEADER AND NAVIGATION==================*/

header {
  min-width: 320px;
  z-index: 1;
  position: fixed;
  top: -10px;
  left: -10px;
  font-family: 'Muli', sans-serif;
  width: 103%;
  height: 55px;
  background-color: #9b2124;
  color: #fff;
  box-shadow: 0 -8px 30px #000;
}
header h1 {
  padding-top: 12px;
  margin: 10 auto;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  /*text-shadow: 2px 4px 16px #000;*/
}

.navButtonContainerL {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}
.navButtonContainerR {
  position: absolute;
  top: 15px;
  right: 2%;
  cursor: pointer;
}
.navButton {
  width: 20px;
}
.navButtonTextL, .navButtonTextR {
  position: absolute;
  top: -6px;
  left: 18px;
  white-space: nowrap;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
}
.navButtonTextR {
  left: -63px;
}

/*=====================================PAGE SPECIFIC HEADER MODULES==========*/


#printContain {
  width: 25%;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #008467;
}

.finalButton {
  display: inline;
  margin: -10px 0 -15px 0;
  padding: 0;
  width: 100%;
  height: 47%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4em;
  border-bottom: 1px solid #fff;
}

#saveButton {
  border-bottom: 1px solid #639DB9;
  line-height: 25px;
  cursor: pointer;
}

#printButton {
  line-height: 24px;
  cursor: pointer;
}
#printButton p {
  border-top: 1px solid #fff;
}

#printIcon {
  position: absolute;
  width: 75px;
  display: none;
  margin: 65px auto;
}

.loggedIn {
  position: absolute;
  top: 0;
  left: 30px;
  text-shadow: 2px 4px 16px #565656;
  display: none;
}

.treePic {
  width: 600px;
  position: absolute;
  display: none;
  top: -193px;
  left: 170px;
  z-index: -5;
  clip: rect(0px, 800px, 322px, 0px);
  -webkit-filter: hue-rotate(65deg) opacity(0.2);
}

/*=============================================   SIGN IN PAGE   ==============================*/

#empForm {
  width: 150px;
  height: 40px;
  font-size: 2em;
  margin: 0 0 30px 0 ;
}

#signInButton {
  width: 20%;
  height: 50px;
  border: 2px solid #fdb80f;
  background-color: transparent;
  color: #fdb80f;
  font-size: 1.5em;
  margin: 0 auto;
  border-radius: 0;
}

/*=====================================  TASK LISTS  ===============*/

#taskList {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

#taskList h2 {
  padding: 0;
}

.taskChoice {
  text-align: left;
  color: #fdb80f;
  font-size: 28px;
}

#taskChoiceButton {
  width: 70%;
  height: 50px;
  border: 2px solid #fdb80f;
  background-color: transparent;
  color: #fdb80f;
  font-size: 1.5em;
  margin-top: 50px;
}

/*=====================================  TO DO / COMPLETED TASK LISTS  ===============*/

.dutyList,
#completePage,
#reviewPage {
  margin-top: 64px;
  color: #fdb80f;
}
.dutyItem, .completeItem {
  background-color: transparent;
  padding: 10px 0 10px 0;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #efefef;
}
.dutyItem p , .completeItem p {
  text-align: left;
  font-weight: bold;
  padding: 0 10px;
  margin: 8px 0;
  font-size: 18px;
}

/*=====================================  REVIEW PAGE TASK LISTS  ===============*/

.reviewListIncomplete {
  color: #fdb80f;
  margin-bottom: 30px;
  font-size: 1.5em;
}

.reviewListComplete {
  color: #fdb80f;
  margin-top: 10px;
  font-size: 1.5em;
}

.reviewListIncomplete p,
.reviewListComplete p {
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 30px;
}

.reviewListIncomplete li,
.reviewListComplete li {
  font-size: .8em;
  padding: 2px;
}

/*=============================  MANAGERS OPTIONS ===================*/

#managerListSection {
  text-align: center;
  width: 100%;
}

#managerTabList{
  width: 100%;
  padding: 0;
  margin: -60px auto;
}
.managerTabs{
  color: #fdb80f;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  width: 30%;
  margin-top: 5px;
  padding: 8px 0;
  border-bottom: 2px solid #fdb80f;
  border-left: 2px solid #fdb80f;
  border-right: 2px solid #fdb80f;
  font-size: 1em;
}

/*=============================EDIT EMPLOYEE PAGE===============*/

#manageEmployeeH2 {
  width: 100%;
  margin: -30px 0 20px 0;
  padding: 0;
  text-align: center;
}

#editAllHeader {
  width: 100%;
  margin: 30px 0 -60px 0;
  padding: 0;
  text-align: center;
}

#editEmployeeMain{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

/*#editEmployeeMain h2 {
  margin: 40px 0 -20px 0;
  }*/

#editEmployeeSection {
  /*color: #fdb80f;*/
  /*border: solid green;*/
  width: 310px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: -20px 0 0 0;
}

#editEmployeeSection p {
  font-size: 1em;
  margin: 5px 1px 1px 15px;
  width: 80px;
  text-align: left;
  color: #fdb80f;
}

.currentAccessContainer {
  width: 120px !important;
}

.currentAccessDisplay {
  width: 150px !important;
  display: inline !important;
  text-transform: uppercase;
  color: #fff;
}

/*input.finishEdit, input.finishDelete {
  width: 54%                              !important;
  margin: 5px auto                        !important;
  display: block                          !important;

}*/

#editEmployeeSection input[type="text"] {
  margin: 2px 20px 2px 0;
  width: 185px;
  color: #000;
}

#editEmployeeSection span {
  display: none;
}

#managerAccess,
.newManagerAccess {
  margin: 8px 100px 2px 2px;
}

.editEmployeeButt {
  width: 56%;
  height: 30px;
  background-color: transparent;
  margin: 5px auto;
  background-color: transparent;
  border: 2px solid #fdb80f;
  font-size: 1.2em;
  color: #fdb80f;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

.addEmployeeAnchor {
  margin: -10px 0 0 0;
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.editEmployeeForm {
  width: 100%;
}

.editEmployeeForm p {
  margin: 5px 1px 1px 0;
}

.editEmployeeTemplate {
  /*border: solid red;*/
  width: 320px;
  height: 175px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px 0 0 0;
  text-align: left;
}

.editEmployeeTemplate p {
  display: inline-block;
  font-size: 1.3em;
  margin: 5px 1px 1px 5px;
  width: 80px;
  text-align: left;
}

.finishEdit , .finishDelete {
  width: 35%;
  height: 50px;
  background-color: transparent;
  margin: 5px 0 0 25px;
  border: 2px solid #fdb80f;
  font-size: 1.2em;
  color: #fdb80f;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  display: inline;
}

.editEmpButtonContainer {
  width: 100%;

}

/*=================  MANAGER HUB - TASKS ===================*/

#manDutiesContainer {
  width: 100%;
  margin: -80px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /*border: solid yellow;*/
  color: #efefef;
  z-index: 100;
}

#manDutiesPage {
  align-self: center;
  width: 320px;
  color: #fdb80f;
  margin: 100px;
  padding: 0;
  /*border: solid green;*/
  text-align: center;
}

.editTaskAnchor {
  width: 320px;
  /*border: solid red;*/
  margin: 20px 0 5px 0;
  overflow: hidden;
}

.editTaskTemplate {
  width: 80%;
  /*border: solid blue;*/
  margin: 20px auto;
}

.templateTaskItems {
  color: #fdb80f;
  width: 100%;
  margin: 0;
  padding: 0;
}

#manDutiesPage h2 {
  padding-top: 50px;
  font-size: 1.3em;
  font-weight: 300;
  margin: 0 0 15px 0;
  padding: 0;
}

#manDutiesPage p {
  margin: 0;
  padding: 0;
}

#manDutiesPage input[type="text"] {
  color: #000;
  font-size: 1em;
  width: 80%;
  margin: 0;
  padding: 0;
}

#manDutiesPage ul {
  margin-bottom: 5px;
  padding: 0;
}

#manDutiesPage li {
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
}

#taskItem {
  height: 100px;
  color: #000;
  font-size: 1em;
  width: 80%;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

#addNewTask {
  color: #fdb80f;
  background: transparent;
  border: 2px solid #fdb80f;
  width: 80%;
  height: 30px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.editTaskButton {
  color: #efefef;
  background-color: #0c6b98;
  width: 49%;
  height: 30px;
  margin: .5px;
  padding: 0;
}

#a1TaskEdit {
  text-align: center;
}

.deleteThisTaskButton {
  text-align: center;
  float: left;
  border: 2px solid #fdb80f;
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  font-weight: 900;
  color: #fdb80f;
  background: transparent;
  padding: 0;
  margin: 0 4px 0 5px;
}

/*=================  MANAGER HUB - LOG ===================*/

#backLogPage {
  color: #fdb80f;
  padding: 15px;
  margin-top: 90px;
}

#backLogPage section {
  margin-top: 0;
}

.backlogTemplate {
  border: 2px solid #fdb80f;
  padding: 5px;
}
.backlogTemplate p {
  color: #fff;
  margin: -5px;
  text-align: left;
  padding: 7px 12px 12px 12px;
}
.backlogTemplate > p:first-child {
  text-align: right;
}

#backLogPage ul {
  margin: 0;
}

#backLogPage li {
  padding: 5px;
}

#a1TaskEdit {
  text-align: center;
}

/*=================  ALERTS FOR ALL PAGES ===================*/

#signInAlert,
#wrongIdAlert,
#selectTaskListAlert,
#noCompleteItemsAlert,
#fillAllFieldsAlert,
#alreadyInUseAlert {
  z-index: 10;
  padding-top: 10px;
  margin-bottom: 0;
  display: none;
  font-weight: bold;
  font-size: 1.2em;
  color: red;
  text-align: center;
}
