/*DUTY ITEM SELECTING STYLES*/

.selectionTodo, .selectionComplete {
  position: relative;
  background-color: #FFD66B;
  padding: 10px 60px 10px 2%;
}
.selectionTodo p, .selectionComplete p {
  padding: 10px 60px 10px 14%;
  color: #000;
}


/*adding arrows with css*/
.selectionTodo::after, .selectionTodo::before {
  position: absolute;
  top: 35%;
  content: '';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 25px solid #E05929;
  border-bottom: 20px solid transparent;
}
.selectionTodo::after {
  left: 6%;
}
.selectionTodo::before {
  right: 50px;
}

.selectionComplete::after, .selectionComplete::before {
  position: absolute;
  top: 35%;
  content: '';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 25px solid #E05929;
  border-bottom: 20px solid transparent;
}

.selectionComplete::before {
  left: 6%;
}
.selectionComplete::after {
  right: 60px;
}
